@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    font-family: "Press Start 2P", sans-serif;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(./assets/Background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    cursor: url('./assets/cursor-default.png'), auto;

}

.clouds{
    overflow-x: hidden;
    height: 20vh;
    overflow-y: hidden;
}

#cloud1{
    animation: cloud 40s linear infinite;
    position: relative;
    top: 7px;
    height: 50px;
    width: 100px;
}

#cloud2{
    animation: cloud 70s linear infinite;
    position: relative;
    left: -150px;
    top: 40px;
}
#cloud3{
    animation: cloud 100s linear infinite;
    position: relative;
    left: -320px;
    top: 10px;
}

@keyframes cloud {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(110vw)
    }
}
.home-button{
    position: absolute;
    padding: 20px;
    z-index: 1;
    display: flex;
    width: 97%;
    justify-content: space-between;
}

.home-button img:hover{
    cursor: url('./assets/cursor-pointer.png'), auto;

    transform: scale(1.1);
}

.home-button img:active{
    transform: scale(0.95);
}

.home-button img{
    height: 55px;
    width: 55px;
    transition: all 0.2s;
}

.headings{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
}

.main-heading{
    font-size: 5rem;
    color: yellow;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: black;
    animation: color-change 6s linear infinite alternate-reverse;
}

@keyframes color-change {
    0% { color: red; }
    20% { color: yellow; }
    40% { color: blue; }
    60% { color: green; }
    80% { color: lightgreen; }
    100% { color: orange; }
}

#play-button span{
    font-size: 3rem;
    color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    width: 100%;
    transition: all 0.4s;
}

#play-button span:hover{
    cursor: url('./assets/cursor-pointer.png'), auto;
    color: yellow;
    text-shadow: 4px 2px 2px black;
}

.instructions-button span{
    font-size: 2.3rem;
    color: white;
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: black;
    transition: all 0.4s;
}

.instructions-button span:hover{
    cursor: url('./assets/cursor-pointer.png'), auto;
    color: green;
    text-shadow: 4px 2px 6px black;
}

.mario-image{
    margin-top: 4vh;
    margin-left: 10vw;
    width: 70vw;
}

#mario{
    width: 100px;
    animation: mario-walking 25s linear 0.8s infinite ;
}

@keyframes mario-walking {
    0%{
        transform: translateX(0%) translateY(-10px);
    }
    48.5%{
        transform: translateX(60vw);
    }
    50%{
        transform: translateX(60vw) scaleX(-1);
    }
    98.5%{
        transform: scaleX(-1);
    }
    100%{
        transform: scaleX(1);
    }
}